@charset "UTF-8";

@font-face {
    font-family: 'INFECTED';
    src: url(../font/INFECTED.ttf) format(truetype);
    font-weight: normal;
}
@font-face {
    font-family: 'AldotheApache';
    src: url(../font/AldotheApache.ttf) format(truetype);
    font-weight: normal;
}

:root{
 --cor1: #00747c;
 --cor2: #00bbc9;
 --cor3: #cacaca;
 --cor4: #878787;
 --cor5: #202022;

 --font-INFECTED: 'INFECTED';
 --font-AldotheApache: 'AldotheApache';
 --font-Padrão: Arial, Helvetica, sans-serif;
}
*{
    margin: 0px;
}
body{
   background-color: var(--cor3);
}
header>h1{
    background-color: var(--cor1);
    font-family: var(--font-INFECTED);
    color: var(--cor5);
    padding-bottom: 20px;
    text-align: center;
    font-size: 3em;
}
section>p{
    background-color: var(--cor1);
    font: 1em var(--font-Padrão);
    font-weight: bold;
    color: white;
    text-align: center;
}
section a{
font-family: var(--font-Padrão);
text-decoration: none;
color: var(--cor5);
font-weight: bold;
padding: 10px;
}
section a:hover{
 color: var(--cor2);
 font-weight: bolder;
 font-family: var(--font-Padrão);
 padding: 10px;
 transition-duration: 0.5s;
}
main{
    background-color: var(--cor5);
    margin: auto;
    width: 95%;
}
main p{
    color: var(--cor3);
    font-weight: 600;
    text-indent: 10px;
    padding: 10px;
    text-align: justify;
    margin: 5px;
    border: 2px solid var(--cor1);
    border-radius: 10px;
}
main div{
    text-align: center;
}
main h2{
    color: var(--cor1);
    font-family: var(--font-Padrão);
    font-weight: 900;
    padding: 15px;
    font-size: 2em;
    
}
#link{
    background-color: var(--cor1);
    text-align: center;
    border-radius: 5px;

}
aside>h1{
    color: var(--cor3);
    font-weight: 700;
    padding: 10px;
    font-family: var(--font-AldotheApache);
    font-size: 2em;
}
aside>div{
    display: flex;
    justify-content: space-between;

}
aside a{
    font-family: var(--font-Padrão);
    color: var(--cor5);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}
aside a:hover{
    font-family: var(--font-Padrão);
    color: var(--cor3);
    background-color: var(--cor4);
    font-weight: bolder;
    transition-duration: 0.5s;
    border-radius: 10px;
    padding: 10px;
}