@charset "UTF-8";


@font-face {
    font-family: 'PassionOne' ;
    src: url('fonts/PassionOne-Bold.ttf') format(truetype);
    font-weight: normal;
}
@font-face {
    font-family: 'Sriracha';
    src: url('fonts/Sriracha-Regular.ttf') format(truetype);
}
body{
    background-color: white;
    margin: 0px;
}

header{
    background-color: black;

}
header>h1{
    color: white;
    font-family: 'PassionOne';
    margin: 0px;
    padding: 20px 0px 5px 0px;
    text-align: center;
}
header>p{
    color: white;
    font-family: 'PassionOne';
    margin: 0px;
    padding: 0px 0px 20px 0px;
    text-align: center;
    font-weight: lighter;
}
header>p>a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header>p:hover>a{
   color: blue;
}
Main p{
    font-family: 'Sriracha';
    width: 530px;
    padding: 20px 0px 20px 20px;
}

aside>div{
    padding-top: 20px;
}
#one{
   background-image: url(imagens/background001.jpg);
   background-size: contain;
   width: max-content;
   height: 300px;
}
#one p{
  background-color: rgba(0, 0, 0, 0.228);
  padding-top: 25px;
  color: white;
}

#two{
    background-image: url(imagens/background002.jpg);
    background-size: contain;
    width: max-content;
    height: 300px;
}
#two p{
    background-color: rgba(0, 0, 0, 0.228);
    padding-top: 25px;
    color: white;
}